.row {
  display: grid;
  width: 100%; /* Occupa il 100% della larghezza del contenitore */
  max-width: 100%; /* Garantisce che non superi la larghezza del contenitore */
  align-items: center; /* Centra verticalmente gli elementi */
  gap: 10px; /* Spaziatura tra NomeDisplay e il bottone */
  min-height: 50px; /* Altezza minima uniforme per ogni riga */
  justify-content: space-between; /* Spaziatura tra elementi */
  border-bottom: 1px solid #ddd; /* Separatore tra righe */
  grid-template-columns: repeat(12, 1fr); /* 12 colonne uguali */
  position: relative; /* Contenitore relativo per gli elementi assoluti */
  padding-top: 15px;
  padding-left: 20px;

}

.button-red {
  /* background-color: red; Colore di sfondo rosso */
 /*  color: white;          Colore del testo bianco */
 border: 3px solid red; /* Bordo di colore rosso, spesso 2px */
 border-radius: 12px;   /* Bordi arrotondati */
  padding: 10px 20px;    /* Spaziatura interna */
  font-size: 16px;       /* Dimensione del testo */
  cursor: pointer;       /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Effetto al passaggio */
  width: 150px;
  box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.button-blue {
  /* background-color: red; Colore di sfondo rosso */
  border: 3px solid blue; /* Bordo di colore rosso, spesso 2px */
  /*  color: white;          Colore del testo bianco */
 border-radius: 12px;   /* Bordi arrotondati */
  padding: 10px 20px;    /* Spaziatura interna */
  font-size: 16px;       /* Dimensione del testo */
  cursor: pointer;       /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Effetto al passaggio */
  width: 150px;
  box-shadow: rgba(44, 53, 187, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);

}

.label {
  width: 100%; /* Occupa il 100% della larghezza del contenitore */
  max-width: 100%; /* Garantisce che non superi la larghezza del contenitore */
}

.row-hidden {
  display: block; /* Nascondi l'elemento di default */
  /* position: absolute; Posiziona il contenuto fuori dal flusso della griglia */
  top: 100%; /* Posiziona il contenuto subito sotto la riga */
  left: 0; /* Allinea a sinistra */
  width: 100%; /* Mantieni la larghezza della riga */
  visibility: hidden; /* Impedisce la visibilità */
  opacity: 0; /* Rende l'elemento invisibile */
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out; /* Effetto di transizione */
}

.row.show-hidden .row-hidden {
  display: block; /* Mostra il contenuto quando visibile */
  visibility: visible; /* Imposta la visibilità su 'visible' */
  opacity: 1; /* Rende visibile l'elemento */
}


h1 {
  margin: 0; /* Rimuove i margini predefiniti */
  min-width: 150px; /* Larghezza minima fissa per garantire l'allineamento */
  text-align: left; /* Allinea il testo a sinistra */
  white-space: nowrap; /* Evita che il testo vada a capo */
  overflow: hidden; /* Nasconde il testo che supera la larghezza */
  text-overflow: ellipsis; /* Mostra "..." se il testo è troppo lungo */
  padding-left: 15px;
}



.col-display {
  grid-column: span 10; /* Occupa 10 colonne */
}

.col-button {
  box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  width: 150px;
}


.col-button-link {
  box-shadow: rgba(44, 53, 187, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  width: 150px;

}

.label-hidden {
  visibility: hidden; /* Occupa le ultime 2 colonne */
}
